@font-face {
  font-family: g-medium;
  src: url(./fonts/gotham-medium.otf);
}

@font-face {
  font-family: g-book;
  src: url(./fonts/gotham-book.otf);
}

@font-face {
  font-family: g-ssm;
  src: url(./fonts/GothamSSm-Medium.otf);
}

* {
  margin: 0;
  padding: 0;
  color: #393C41;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  overflow-x: hidden;
}
.swal-modal{
  font-family: g-ssm;
}
